@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f0f0f0;
}

.dashboard {
    display: flex;
    min-width: 100%;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #2d1f6b;
    color: white;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 12px;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 8px;
}

.sidebar li:hover,
.sidebar .active {
    background: #3f2db3;
}

.icon {
    width: 30px;
}

.icon2 {
    width: 35px;
    height: 35px;
    color: rgb(97, 0, 0);
}

.icon3 {
    width: 35px;
    height: 35px;
}

.main {
    flex: 1;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 30px;
    font-size: 30px;
    font-weight: 600;
    background-color: #d9d9d9;
}

.text-alert {
    margin-top: 40px;
    margin-left: 50px;
    color: #0039ac;
}

.alerts {
    margin: 10px 50px 10px 50px;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.alert {
    background: #f5dede;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.alert span {
    color: #ff0000;
}

.actions {
    padding-top: 30px;
    padding-left: 50px;
    border-radius: 15px;
}

.text-acoes {
    margin: 40px 0px -30px 50px;
    color: #0039ac;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 220px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.card img {
    width: 80px;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.2s;
}